// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Colors
$primary-color: #5533d9;
$primary-color-opacity-50: rgba(85, 51, 217, 0.5);
$secondary-color: #d9d233;
$secondary-color-opacity-50: rgba(217, 210, 51, 0.5);
$total-color: #adffe6;
$music-color: #e6fc9b;
$painting-color: #ce9fff;
$literature-color: #ffc0c0;
$comments-color: #42b7ff;
$reviews-color: #f051ff;
$admin-color: rgba(255, 77, 90, 0.5);
