// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

h1,
h2 {
    font-weight: bold;
}

h1 {
    font-size: 4.5rem;
    padding: 2rem 0;
}

h2 {
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.search-filters .btn {
    margin-right: 15px;
}

.nav-link {
    color: #000;
}

.btn {
    border-color: #000000 !important;
    border-width: 3px;
    border-radius: 18px;

    &:active {
        background-color: #000 !important;
    }

    &:focus-visible {
        background-color: #000;
        box-shadow: none;
    }

    &-primary {
        background: #000;

        &:hover {
            background: transparent;
            color: #000;
        }
    }

    &-secondary,
    &-outline-secondary {
        background: transparent;
        color: #000;

        &:hover {
            background: #000;
            color: #fff;
        }
    }

    &--search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.form-control {
    border: 3px solid #000;

    &:focus {
        box-shadow: none;
        border-color: #000;
    }

    &--search {
        border-right: none;
    }
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.header {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/svg/blob.svg");
    background-size: 100%;

    &__logo {
        width: 125px;
    }

    &__title {
        width: 300px;
    }

    &__subtitle {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.works-list {
    display: flex;

    &-item {
        color: #000;
        text-decoration: none;
        transition: box-shadow 0.25s;
        padding-bottom: 1.5rem;

        &:hover {
            color: #000;
            -webkit-box-shadow: 10px 10px 0 0 #000;
            -moz-box-shadow: 10px 10px 0 0 #000;
            box-shadow: 10px 10px 0 0 #000;
        }

        &__type {
            width: 100%;
            background: #6d6dff;
            height: 100px;
            font-size: 3.5rem;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.5);
            text-align: center;

            &--music {
                background: $music-color;
            }

            &--painting {
                background: $painting-color;
            }

            &--literature {
                background: $literature-color;
            }
        }

        &__title {
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

.dashboard {
    &__role {
        background: $primary-color-opacity-50;
        width: fit-content;
        padding: 0.2rem 1rem;
        border-radius: 18px;
        margin-bottom: 0;
    }

    &-info {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-areas:
            "total music comments"
            "total painting reviews"
            "total literature .";
        column-gap: 0.7rem;
        row-gap: 0.7rem;

        &-block {
            font-size: 1.1rem;
            border-radius: 35px;
            padding: 1rem;

            &__number {
                font-weight: bold;
                display: block;
                font-size: 2rem;
            }

            &--total {
                grid-area: total;
                background: $total-color;
            }

            &--music {
                grid-area: music;
                background: $music-color;
            }

            &--painting {
                grid-area: painting;
                background: $painting-color;
            }

            &--literature {
                grid-area: literature;
                background: $literature-color;
            }

            &--comments {
                grid-area: comments;
                border: 5px solid $comments-color;
            }

            &--reviews {
                grid-area: reviews;
                border: 5px solid $reviews-color;
            }
        }
    }

    &-manage {
        .btn {
            margin-right: 1rem;
        }
    }
}
